body{
    background-color: blanchedalmond;
}

.sarvh{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.item1{
    
}

.item2{
    align-self: flex-start;
}